{% extends "partials/base.html" %}  {% load static %}  {% block content %}

    {% if payment_status == "Paid" %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="message-box _success">
                     <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <h2> Your payment was successful </h2>
                   <p> Thank you for your payment. we will <br>
be in contact with more details shortly </p>      
            </div> 
        </div> 
    </div> 
    {% elif payment_status == "Failed" %}
    <hr>
  
  
  <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="message-box _success _failed">
                     <i class="fa fa-times-circle" aria-hidden="true"></i>
                    <h2> Your payment failed </h2>
                    <a
                        name=""
                        id=""
                        class="btn btn-danger"
                        href="{% url "store:checkout" order.order_id %}"
                        role="button"
                        >
                        Try again!!!
                        </a
                    >
                    
             
         
            </div> 
        </div> 
    </div> 
    {% else %}

    {% endif %}
  
{% endblock content %}